# Git
.git
.gitignore
.github

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.py[cod]
*$py.class
.pytest_cache
.coverage
htmlcov/
.tox/
.nox/
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log

# Virtual Environment
.env
.venv
env/
venv/
ENV/

# IDE
.idea
.vscode
*.swp
*.swo

# Project specific
docs/_build/
dist/
build/
*.egg-info/

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Misc
*.DS_Store
.AppleDouble
.LSOverride
._*
